.input  {
    font-family: 'Lobster', cursive;
    font-size: 1em;

    
}

.title, .input label {
    font-family: 'Lobster', cursive;
    margin-top: .3rem;
    color: var(--primary)
}

.input label {
    display: block;
    padding: .2rem;
    font-family: 'Oleo Script', cursive;
}

.input input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 2rem;
}

.input input:focus {
    outline: 0;
    border: 3px solid var(--primary);
  }

.form {
    background: rgba(93, 125, 102,0.6);
    width: 95%;
    padding: 1rem;
    min-height: 50vh;
    max-width: 500px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    margin-top: 6rem;
}

.actions button{
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    font-size: 1em;
    color: var(--primary);
    font-family: 'Oleo Script', cursive;
    background-color: var(--shadow);
    transition: .6s;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.loginStatus{
    margin-top: 1rem;
    display: block;
    font-size: .7em;
    color: var(--primary);
    text-align: center;
}

.actions button:hover{
    cursor: pointer;
    background-color: var(--primary);
    color:var(--shadow)
}

.actions {
    margin-top: 3rem;
}

.signupLink {
    text-align: center;
    display:block;
    width: 100%;
    margin:1rem auto;
    font-size: .9em;
    color:var(--primary)
}



@media screen and (min-width:1000px){
    .form {
        font-size: large;
        margin-top: 0;
    }
    .form input {
        height: 2.5rem;
        font-size: .8em;
    }
}