.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
  }
  
.slogan{
    width: 80%;
    text-align: center;
}

.mainLogo{
    filter: drop-shadow(20px 10px 4px rgba(44, 37, 22, 0.705));
}

.slogan h3 {
    color: rgb(197, 131, 8);
    font-size: 3em;
    text-shadow: 3px 3px 3px #4b4232;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
}

.landing {

    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.getstarted {
    border: none;
    background-color: rgb(197, 131, 8);
    color: var(--primary);
    font-family: 'Oleo Script', cursive;
    margin-top: 2rem;
    padding: .5rem 1rem;
    font-size: 1.5em;
    border-radius: 30px;
    box-shadow: 3px 3px 3px #4b4232;
    transition: .5s;
}

.getstarted:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--shadow)
}

.backgroundvid {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 100%;
    max-height: 100vh;
    object-fit: cover;
    opacity: .7;

}

@media screen and (max-width:500px) {
    .mainLogo{
        width: 70%;
        height: auto;
    }

    .slogan h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width:700px){
    .mainLogo{
        width: 60%;
        height: auto;
    }

    .slogan h3 {
        font-size: 1.7em;
    }
}