.logo {
  width: 3rem;
  height: 4rem;
  padding: .5rem 0;
  transition: 1s;
  border-radius: 50%;
}

.logo:hover {
    cursor: pointer;
    transform: rotate(360deg);
}

.logoA {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    width: 40%;
    height: auto;
}

 .logoutBtn {
    color: var(--primary);
    font-size: 1em;
    text-transform: uppercase;
    background-color: var(--shadow);
    border: none;
    border-radius: 20px;
    padding: .2rem .6rem;
    font-family: 'Oleo Script', cursive;
    transition: .6s;
   
}

.logoutBtn:hover {
    background-color: var(--primary);
    color:var(--secondary);
    cursor: pointer;
} 



.logoutBtn:hover::before {
    transform: scale(1,1)
}



@media screen and (max-width:800px) {
    .logoA{
        margin: auto;
        float: right;
        width: 20%;
    }

    .logo {
        text-align: center;
        margin: auto;
    }

    .logoutBtn{
        background-color: var(--light);
        margin-top: .5rem;
        padding: .3em;
    }

    .logoutBtn:hover {
        background-color: var(--light);
        color:var(--secondary);
        cursor: pointer;
    } 
    
    
}