.expenseCard {
    width: 95%;
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
    background-color: var(--secondary);
    padding: .8rem;
    margin: 1rem auto;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.info {
    display: flex;
    flex-direction: column;
}

.expenseCard span {
    float: right;
}

.amountSide span {
    font-family: 'Lobster';
    color: var(--danger);
    font-size: 1.7em;
    float:right;
}

.amountSide strong{
    display: none;
}

.expenseCard p {
    line-height: 1.7rem;
}

.email {
    color: var(--light)
}

.deleteBtn {
    width: 100%;
    border: none;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: var(--primary);
    color: var(--shadow);
    transition: .2s;
}

.expenseCard button:hover {
    cursor: pointer;
    transform:scale(1.05)
}

@media screen and (min-width:800px){
    .expenseCard{
        width: 50%;
        margin: 1rem 1rem;
        max-width: 400px;
    }

    .amountSide strong{
        display: block;
    }

    .info {
        margin: auto;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
    }

    .amountSide {
        text-align: center;
        width: 100%;
        display: block;
    }

    .amountSide strong {
        float: left;
    }

}