.container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.totalDisplay, .payout {
    background-color: var(--primary);
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    color: var(--light)

}

.totalDisplay h4 , .payout h4{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1em;
    text-align: center;
    color: var(--light);
    letter-spacing: 1px;
    text-shadow: 3px 1px 2px rgba(80, 79, 79, 0.66);
}

.payout h4 , .payout p{
    color: var(--primary)
}

.groupTotal span, .individualTotal span, .payout span {
    float: right;
}

.individualTotal {
    margin-top: 1rem;
}

.individualTotal strong, .payout strong {
    font-size: .8em;
    width: 50%;
}

.payout {
    background-color: var(--shadow);
}

.positive {
    color: green
}

.negative {
    color: var(--danger)
}


@media screen and (min-width:800px) {
    .container {
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.4em;
    }

    .totalDisplay, .payout {
        width: 40%;
        margin-top: 2rem;
    }
    .totalDisplay h4 , .payout h4{
        font-size: 1.6em;
    }
}
    