.Dashboard {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    font-family: 'Oleo Script', cursive;
    color: var(--primary);
    font-size: 3em;
}