.Dashboard {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading {
    font-family: 'Oleo Script', cursive;
    color: var(--primary);
    font-size: 3em;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}