@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap');
html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #BFD0DB;
  background: -moz-linear-gradient(top, #BFD0DB 0%, #D9D6E3 53%, #8899CC 100%);
  background: -webkit-linear-gradient(top, #BFD0DB 0%, #D9D6E3 53%, #8899CC 100%);
  background: linear-gradient(to bottom, #BFD0DB 0%, #D9D6E3 53%, #8899CC 100%);
  font-family: 'Roboto', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root {
  /* --primary: #8C3503;
  --secondary:#E6922F;
  --accent: #BF8969;
  --light: #5D7D66;
  --shadow: #DEC3AE; */

  --primary: #3b4257;
  --secondary:#6a7b91;
  --accent: #B0C0CA;
  --light: #D3C6DC;
  --shadow: #E7E4F2;
  --danger: rgb(143, 40, 71);


}

.positive {
  color: green
}

.negative {
  color: var(--danger)
}


.loadingPage {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  font-family: 'Lobster';
  font-size: 2em;
  color: var(--secondary)
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
